<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${item.longLabel}"></title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/header-style.css}">
</head>
<body class="bg-light">

<div class="container mt-5">
  <header class="header" th:insert="~{blocks/header :: header}"></header>
  <div class="card">
    <!-- Item Image -->
    <img class="card-img-top img-fluid" th:src="@{/itemsimg/dominus.jpeg}" alt="Item Image">

    <!-- Card Body -->
    <div class="card-body text-center">
      <!-- Long Label -->
      <h5 class="card-title" th:text="${item.longLabel}"></h5>
      <!-- Short Label -->
      <p class="text-muted" th:text="${item.shortLabel}"></p>

      <!-- Item Information Table -->
      <table class="table table-striped mt-4">
        <tbody>
        <!-- Item ID -->
        <tr>
          <th scope="row">Item ID</th>
          <td th:text="${item.id}"></td>
        </tr>
        <!-- Item Type -->
        <tr>
          <th scope="row">Item Type</th>
          <td th:text="${item.type}"></td>
        </tr>
        <!-- Quality -->
        <tr>
          <th scope="row">Quality</th>
          <td th:text="${item.quality}"></td>
        </tr>
        <!-- Paintable -->
        <tr>
          <th scope="row">Paintable</th>
          <td th:text="${item.paintable ? 'Yes' : 'No'}"></td>
        </tr>
        <!-- Trade Restriction -->
        <tr>
          <th scope="row">Trade Restriction</th>
          <td th:text="${item.tradeRestriction ? 'Restricted' : 'Not Restricted'}"></td>
        </tr>
        </tbody>
      </table>
    </div>

    <!-- Thumbnail Image -->
    <div class="text-center p-3">
      <img class="img-thumbnail" th:src="${item.thumbnailAsset}" alt="Thumbnail Image">
    </div>
  </div>
</div>

<!-- Bootstrap JS and Popper.js -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
