<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"-->
<!--          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" rel="stylesheet">-->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/header-style.css}">
    <title>Title</title>

</head>
<body>

<header class="header" th:insert="~{blocks/header :: header}"></header>

<div class="container">
    <form sec:authorize="isAuthenticated()" action="#" th:action="@{/submitTrade}" method="post" th:object="${trade}" class="mt-5">
        <input name="user" th:value="${#authentication.principal.id}" type="hidden"/>

        <div class="form-group">
            <label for="giveItem">Select item you want to give:</label>
            <select id="giveItem" name="giveItem" th:field="*{giveItem}" class="form-control custom-select">
                <option th:each="i : ${items}" th:value="${i.id}" th:text="${i.itemLongLabel}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Choose its amount:</label>
            <input type="number" th:field="*{giveAmount}" class="form-control" />
        </div>

        <div class="form-group">
            <label for="getItem">Select item you want to get:</label>
            <select id="getItem" name="getItem" th:field="*{getItem}" class="form-control custom-select">
                <option th:each="i : ${items}" th:value="${i.id}" th:text="${i.itemLongLabel}"></option>
            </select>
        </div>

        <div class="form-group">
            <label>Choose its amount:</label>
            <input type="number" th:field="*{getAmount}" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <div class="row">
        <div th:each="t : ${trades}" class="col-md-4 mb-4">
            <div class="card">
                <!-- Header for the Card -->
                <div class="card-header">
                    <a th:href="'/profile/' + ${t.user.id}" class="card-link">
                        <h5 th:text="${t.user.epicGames}"></h5>
                    </a>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <img th:src="'https://raw.githubusercontent.com/enzanki-ars/rocket-league-item-images/enzanki-ars/Rocket%20League%20Item%20Images/'
                                            + ${t.giveItem.itemType} + '/' + ${t.giveItem.itemLongLabel.replace(' ', '%20')} + '/Default.png'"
                         class="card-img-top" alt="Item Image" loading="lazy">
                    <h5 class="card-title" th:text="${t.giveItem.itemLongLabel}"></h5>
                </div>

                <p class="card-text">Changes for</p>

                <!-- Bottom Image and Card Body -->
                <div class="card-body">
                    <img th:src="'https://raw.githubusercontent.com/enzanki-ars/rocket-league-item-images/enzanki-ars/Rocket%20League%20Item%20Images/'
                                            + ${t.getItem.itemType} + '/' + ${t.getItem.itemLongLabel.replace(' ', '%20')} + '/Default.png'"
                     class="card-img-bottom" alt="Item Image" loading="lazy">

                    <h5 class="card-title" th:text="${t.getItem.itemLongLabel}"></h5>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" th:src="@{/js/header-script.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<script>
    $(document).ready(function() {
        $('.custom-select').select2({
            theme: 'bootstrap4', // Optional: Use Bootstrap 4 theme
            width: '100%', // Optional: Set the width to 100% to match Bootstrap containers
            minimumResultsForSearch: 10 // Optional: Show the search box when there are at least 10 options
        });
    });
</script>

</body>
</html>